@import '../../variables.scss';

.hero{
    background-image: url('../../img/placeholder.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white;
    padding: 100px 20px;
    line-height: 2;
    
}

.section{
    padding: 70px 20px;
    &-title{
        text-align: center;

    }
    &-description{
        text-align: center;
        margin: 20px 0;
    }
}

.section-about{
    background-color: $salat;
}

.section-benefits{
    .grid{
        justify-content: space-around;
    }
    background-color: #fff;
    color: black;
    .section-title{
        color:$salat;
    }
}

.section-our-people{
   
    background-color: $salat;
}

.section-join{
    text-align: center;
    background-color:$green;
    .button{
        margin-top: 20px;
    }
}